{% extends 'base_page.html' %}
{% load static %}
{% block content %}
        <main class="main">
            <div class="intro-section pt-3 pb-3 mb-2">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="intro-slider-container slider-container-ratio mb-2 mb-lg-0">
                                <div class="intro-slider owl-carousel owl-simple owl-dark owl-nav-inside"
                                    data-toggle="owl" data-owl-options='{
                                        "nav": false, 
                                        "dots": true,
                                        "rtl": true, 
                            "responsive": {
                                            "768": {
                                                "nav": true,
                                                "dots": false
                                            }
                                        }
                                    }'>
                                    <div class="intro-slide">
                                        <figure class="slide-image">
                                            <picture>
                                                <source media="(max-width: 480px)"
                                                    srcset="{% static 'images/demos/demo-3/slider/slide-1-480w.jpg' %}">
                                                <img src="{% static 'images/demos/demo-3/slider/slide-1.jpg' %}"
                                                    alt="توضیحات عکس">
                                            </picture>
                                        </figure><!-- End .slide-image -->

                                        <div class="intro-content">
                                            <h3 class="intro-subtitle text-primary">پیشنهاد های روزانه</h3>
                                            <!-- End .h3 intro-subtitle -->
                                            <h1 class="intro-title">
                                                هندزفری <br>ایرپاد
                                            </h1><!-- End .intro-title -->

                                            <div class="intro-price">
                                                <sup>امروز : </sup>
                                                <span class="text-primary">
                                                    247,000 تومان
                                                </span>
                                            </div><!-- End .intro-price -->

                                            <a href="category.html" class="btn btn-primary btn-round">
                                                <i class="icon-long-arrow-left"></i>
                                                <span>اینجا کلیک کنید</span>
                                            </a>
                                        </div><!-- End .intro-content -->
                                    </div><!-- End .intro-slide -->

                                    <div class="intro-slide">
                                        <figure class="slide-image">
                                            <picture>
                                                <source media="(max-width: 480px)"
                                                    srcset="{% static 'images/demos/demo-3/slider/slide-2-480w.jpg' %}">
                                                <img src="{% static 'images/demos/demo-3/slider/slide-2.jpg' %}"
                                                    alt="توضیحات عکس">
                                            </picture>
                                        </figure><!-- End .slide-image -->

                                        <div class="intro-content">
                                            <h3 class="intro-subtitle text-primary">پیشنهاد های روزانه</h3>
                                            <!-- End .h3 intro-subtitle -->
                                            <h1 class="intro-title">
                                                سیستم صوتی <br>پیشرفته
                                            </h1><!-- End .intro-title -->

                                            <div class="intro-price" dir="rtl">
                                                <sup class="intro-old-price">49,000</sup>
                                                <span class="text-primary">
                                                    29,999 تومان
                                                </span>
                                            </div><!-- End .intro-price -->

                                            <a href="category.html" class="btn btn-primary btn-round">
                                                <i class="icon-long-arrow-left"></i>
                                                <span>اینجا کلیک کنید</span>
                                            </a>
                                        </div><!-- End .intro-content -->
                                    </div><!-- End .intro-slide -->
                                </div><!-- End .intro-slider owl-carousel owl-simple -->

                                <span class="slider-loader"></span><!-- End .slider-loader -->
                            </div><!-- End .intro-slider-container -->
                        </div><!-- End .col-lg-8 -->

                        <div class="col-lg-4">
                            <div class="intro-banners">
                                <div class="banner mb-lg-1 mb-xl-2">
                                    <a href="#">
                                        <img src="{% static 'images/demos/demo-3/banners/banner-1.jpg' %}" alt="بنر">
                                    </a>

                                    <div class="banner-content text-right">
                                        <h4 class="banner-subtitle d-lg-none d-xl-block"><a href="#">محصولات برتر</a>
                                        </h4><!-- End .banner-subtitle -->
                                        <h3 class="banner-title"><a href="#">هدفون<br>استریو بلوتوث</a></h3>
                                        <!-- End .banner-title -->
                                        <a href="#" class="banner-link">خرید<i class="icon-long-arrow-left"></i></a>
                                    </div><!-- End .banner-content -->
                                </div><!-- End .banner -->

                                <div class="banner mb-lg-1 mb-xl-2">
                                    <a href="#">
                                        <img src="{% static 'images/demos/demo-3/banners/banner-2.jpg' %}" alt="بنر">
                                    </a>

                                    <div class="banner-content text-right">
                                        <h4 class="banner-subtitle d-lg-none d-xl-block"><a href="#">محصولات جدید</a>
                                        </h4>
                                        <!-- End .banner-subtitle -->
                                        <h3 class="banner-title"><a href="#">دوربین های 360 درجه<span>70%
                                                    تخفیف</span></a></h3><!-- End .banner-title -->
                                        <a href="#" class="banner-link">خرید<i class="icon-long-arrow-left"></i></a>
                                    </div><!-- End .banner-content -->
                                </div><!-- End .banner -->

                                <div class="banner mb-0">
                                    <a href="#">
                                        <img src="{% static 'images/demos/demo-3/banners/banner-3.jpg' %}" alt="بنر">
                                    </a>

                                    <div class="banner-content text-right">
                                        <h4 class="banner-subtitle d-lg-none d-xl-block"><a href="#">محصولات ویژه</a>
                                        </h4>
                                        <!-- End .banner-subtitle -->
                                        <h3 class="banner-title"><a href="#">ساعت اپل 4</a></h3>
                                        <!-- End .banner-title -->
                                        <a href="#" class="banner-link">خرید<i class="icon-long-arrow-left"></i></a>
                                    </div><!-- End .banner-content -->
                                </div><!-- End .banner -->
                            </div><!-- End .intro-banners -->
                        </div><!-- End .col-lg-4 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .intro-section -->

            <div class="container featured">
                
                <ul class="nav nav-pills nav-border-anim nav-big justify-content-center mb-3" role="tablist">
                
                    <li class="nav-item">
                        <a class="nav-link active" id="products-featured-link" data-toggle="tab"
                            href="#products-featured-tab" role="tab" aria-controls="products-featured-tab"
                            aria-selected="true">برترین محصولات</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="products-sale-link" data-toggle="tab" href="#products-sale-tab"
                            role="tab" aria-controls="products-sale-tab" aria-selected="false">بیشترین فروش</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="products-top-link" data-toggle="tab" href="#products-top-tab" role="tab"
                            aria-controls="products-top-tab" aria-selected="false">بالاترین امتیاز</a>
                    </li>
                </ul>

                <div class="tab-content tab-content-carousel">
                    <div class="tab-pane p-0 fade show active" id="products-featured-tab" role="tabpanel"
                        aria-labelledby="products-featured-link">
                        <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" data-toggle="owl"
                            data-owl-options='{
                                "nav": true, 
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "rtl": true, 
                            "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "600": {
                                        "items":2
                                    },
                                    "992": {
                                        "items":3
                                    },
                                    "1200": {
                                        "items":4
                                    }
                                }
                            }'>
                            {% for product in products %}
                                    
                                        
                                        
                                             {% for tag in product.tags.all %}
                                                {% if tag.name == "bartarin" %}
                                                
                                                    {% include 'shop/singleproduct.html' %}
                                                
                                                {% endif %}
                                            {% endfor %} 
                                        
                                    {% endfor %}
                                     
                            
                        </div><!-- End .owl-carousel -->
                    </div><!-- .End .tab-pane -->
                    <div class="tab-pane p-0 fade" id="products-sale-tab" role="tabpanel"
                        aria-labelledby="products-sale-link">
                        <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" data-toggle="owl"
                            data-owl-options='{
                                "nav": true, 
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "rtl": true, 
                            "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "600": {
                                        "items":2
                                    },
                                    "992": {
                                        "items":3
                                    },
                                    "1200": {
                                        "items":4
                                    }
                                }
                            }'>
                            
                            {% for product in products %}
                                {% for tag in product.tags.all %}
                                    {% if tag.name == "bishtar" %}
                                        {% include 'shop/singleproduct.html' %}
                                    {% endif %}
                                {% endfor %} 
                            {% endfor %}
                                     
                        </div><!-- End .owl-carousel -->
                    </div><!-- .End .tab-pane -->
                    <div class="tab-pane p-0 fade" id="products-top-tab" role="tabpanel"
                        aria-labelledby="products-top-link">
                        <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" data-toggle="owl"
                            data-owl-options='{
                                "nav": true, 
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "rtl": true, 
                            "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "600": {
                                        "items":2
                                    },
                                    "992": {
                                        "items":3
                                    },
                                    "1200": {
                                        "items":4
                                    }
                                }
                            }'>
                            {% for product in products %}
                                {% for tag in product.tags.all %}
                                    {% if tag.name == "poremriaz" %}
                                        {% include 'shop/singleproduct.html' %}
                                    {% endif %}
                                {% endfor %} 
                            {% endfor %}

                        </div><!-- End .owl-carousel -->
                    </div><!-- .End .tab-pane -->
                </div><!-- End .tab-content -->
            </div><!-- End .container -->

            <div class="mb-7 mb-lg-11"></div><!-- End .mb-7 -->

            <div class="container">
                <div class="cta cta-border cta-border-image mb-5 mb-lg-7"
                style="background-image: url({% static 'images/demos/demo-3/bg-1.jpg' %});"> 
                     <div class="cta-border-wrapper bg-white">
                        <div class="row justify-content-center">
                            <div class="col-md-11 col-xl-11">
                                <div class="cta-content">
                                    <div class="cta-heading">
                                        <h3 class="cta-title text-left"><span class="text-primary">پیشنهاد های
                                                جدید</span>
                                            <br>هر روز ساعت 12 ظهر</h3><!-- End .cta-title -->
                                    </div><!-- End .cta-heading -->

                                    <div class="cta-text">
                                        <p>دریافت کد <span class="text-dark font-weight-normal">تخفیف 5 درصدی</span>
                                            برای
                                            <br>تمام خرید هایی که از فروشگاه ما داشته باشید</p>
                                    </div><!-- End .cta-text -->
                                    <a href="#" class="btn btn-primary btn-round"><span>افزودن به سبد خرید / 15 هزار
                                            تومان سالیانه</span><i class="icon-long-arrow-left"></i></a>
                                </div><!-- End .cta-content -->
                            </div><!-- End .col-xl-7 -->
                        </div><!-- End .row -->
                    </div><!-- End .bg-white -->
                </div><!-- End .cta -->
            </div><!-- End .container -->

            <div class="bg-light deal-container pt-7 pb-7 mb-5">
                <div class="container">
                    <div class="heading text-center mb-4">
                        <h2 class="title text-center">تخفیف های ویژه</h2><!-- End .title -->
                        <p class="title-desc text-center">تخفیف های ویژه روزانه</p><!-- End .title-desc -->
                    </div><!-- End .heading -->

                    <div class="row">
                        <div class="col-lg-6 deal-col">
                            <div class="deal"
                            style="background-image: url({% static '/images/demos/demo-3/deal/bg-1.jpg' %});">
                                <div class="deal-top">
                                    <h2>تخفیف ویژه امروز</h2>
                                    <h4 class="text-center">فروش محدود </h4>
                                </div><!-- End .deal-top -->

                                <div class="deal-content">
                                    <h3 class="product-title"><a href="product.html">اسپیکر هوشمند خانگی</a>
                                    </h3>
                                    <!-- End .product-title -->

                                    <div class="product-price mt-3">
                                        <span class="new-price d-block w-100">129,000 تومان</span>
                                        <span class="old-price d-block w-100">قیمت قبلی 214,000 تومان</span>
                                    </div><!-- End .product-price -->

                                    <a href="product.html" class="btn btn-link mt-3"><span>خرید</span><i
                                            class="icon-long-arrow-left"></i></a>
                                </div><!-- End .deal-content -->

                                <div class="deal-bottom">
                                    <div class="deal-countdown" data-until="+10h"></div><!-- End .deal-countdown -->
                                </div><!-- End .deal-bottom -->
                            </div><!-- End .deal -->
                        </div><!-- End .col-lg-6 -->
                        <div class="col-lg-6">
                            <div class="products">
                                <div class="row">
                                    
                                    {% for product in best_products %}
                                             {% for tag in product.tags.all %}
                                                {% if tag.name == "vije" %}
                                                <div class="col-6">
                                                    {% include 'shop/singleproduct.html' %}
                                                </div><!-- End .col-sm-6 -->
                                                {% endif %}
                                            {% endfor %} 
                                    {% endfor %}
                                     
                                    
                                </div><!-- End .row -->
                            </div><!-- End .products -->
                        </div><!-- End .col-lg-6 -->
                    </div><!-- End .row -->

                    <div class="more-container text-center mt-3 mb-0">
                        <a href="#" class="btn btn-outline-dark-2 btn-round btn-more"><span>مشاهده تخفیف های ویژه
                                بیشتر</span><i class="icon-long-arrow-left"></i></a>
                    </div><!-- End .more-container -->
                </div><!-- End .container -->
            </div><!-- End .deal-container -->

            <div class="container">
                <div class="owl-carousel mt-5 mb-5 owl-simple" data-toggle="owl" data-owl-options='{
                            "nav": false, 
                            "dots": false,
                            "margin": 30,
                            "loop": false,
                            "rtl": true, 
                            "responsive": {
                                "0": {
                                    "items":2
                                },
                                "420": {
                                    "items":3
                                },
                                "600": {
                                    "items":4
                                },
                                "900": {
                                    "items":5
                                },
                                "1024": {
                                    "items":6
                                }
                            }
                        }'>
                        {% for brand in brands %}
                            <a href="#" class="brand">
                                <img src="{{brand.logo.url}}" alt=" {{ brand.name }}">
                            </a>
                        {% endfor %}
                </div><!-- End .owl-carousel -->
            </div><!-- End .container -->

            <div class="container">
                <hr class="mt-3 mb-6">
            </div><!-- End .container -->

            <div class="container trending">
                <div class="heading heading-flex mb-3">
                    <div class="heading-left">
                        <h2 class="title">محصولات ویژه</h2><!-- End .title -->
                    </div><!-- End .heading-left -->

                    <div class="heading-right">
                        <ul class="nav nav-pills nav-border-anim justify-content-center" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="trending-all-link" data-toggle="tab"
                                    href="#trending-all-tab" role="tab" aria-controls="trending-all-tab"
                                    aria-selected="true">همه</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="trending-tv-link" data-toggle="tab" href="#trending-tv-tab"
                                    role="tab" aria-controls="trending-tv-tab" aria-selected="false">TV</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="trending-computers-link" data-toggle="tab"
                                    href="#trending-computers-tab" role="tab" aria-controls="trending-computers-tab"
                                    aria-selected="false">کامپیوتر</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="trending-phones-link" data-toggle="tab"
                                    href="#trending-phones-tab" role="tab" aria-controls="trending-phones-tab"
                                    aria-selected="false">موبایل و تبلت</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="trending-watches-link" data-toggle="tab"
                                    href="#trending-watches-tab" role="tab" aria-controls="trending-watches-tab"
                                    aria-selected="false">ساعت هوشمند</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="trending-acc-link" data-toggle="tab" href="#trending-acc-tab"
                                    role="tab" aria-controls="trending-acc-tab" aria-selected="false">لوازم جانبی</a>
                            </li>
                        </ul>
                    </div><!-- End .heading-right -->
                </div><!-- End .heading -->

                <div class="row">
                    <div class="col-xl-5col d-none d-xl-block">
                        <div class="banner">
                            <a href="#">
                                <img src="{% static 'images/demos/demo-3/banners/banner-4.jpg' %}" alt="بنر">
                            </a>
                        </div><!-- End .banner -->
                    </div><!-- End .col-xl-5col -->

                    <div class="col-xl-4-5col">
                        <div class="tab-content tab-content-carousel just-action-icons-sm">
                            <div class="tab-pane p-0 fade show active" id="trending-all-tab" role="tabpanel"
                                aria-labelledby="trending-all-link">
                                <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow"
                                    data-toggle="owl" data-owl-options='{
                                        "nav": true, 
                                        "dots": false,
                                        "margin": 20,
                                        "loop": false,
                                        "rtl": true, 
                            "responsive": {
                                            "0": {
                                                "items":2
                                            },
                                            "480": {
                                                "items":2
                                            },
                                            "768": {
                                                "items":3
                                            },
                                            "992": {
                                                "items":4
                                            }
                                        }
                                    }'>
                                    {% for product in vije_products %}
                                        {% for cat in product.category.all %}
                                                {% include 'shop/singleproduct.html' %}
                                        {% endfor %} 
                                    {% endfor %}
                                </div><!-- End .owl-carousel -->
                            </div><!-- .End .tab-pane -->
                            <div class="tab-pane p-0 fade" id="trending-tv-tab" role="tabpanel"
                                aria-labelledby="trending-tv-link">
                                <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow"
                                    data-toggle="owl" data-owl-options='{
                                        "nav": true, 
                                        "dots": false,
                                        "margin": 20,
                                        "loop": false,
                                        "rtl": true, 
                            "responsive": {
                                            "0": {
                                                "items":2
                                            },
                                            "480": {
                                                "items":2
                                            },
                                            "768": {
                                                "items":3
                                            },
                                            "992": {
                                                "items":4
                                            }
                                        }
                                    }'>
                                    {% for product in vije_products %}
                                        {% for cat in product.category.all %}
                                            {% if cat.slug == "tv" %}
                                                {% include 'shop/singleproduct.html' %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}

                                    
                                </div><!-- End .owl-carousel -->
                            </div><!-- .End .tab-pane -->
                            <div class="tab-pane p-0 fade" id="trending-computers-tab" role="tabpanel"
                                aria-labelledby="trending-computers-link">
                                <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow"
                                    data-toggle="owl" data-owl-options='{
                                        "nav": true, 
                                        "dots": false,
                                        "margin": 20,
                                        "loop": false,
                                        "rtl": true, 
                            "responsive": {
                                            "0": {
                                                "items":2
                                            },
                                            "480": {
                                                "items":2
                                            },
                                            "768": {
                                                "items":3
                                            },
                                            "992": {
                                                "items":4
                                            }
                                        }
                                    }'>
                                    {% for product in vije_products %}
                                        {% for cat in product.category.all %}
                                            {% if cat.slug == "computer" %}
                                                {% include 'shop/singleproduct.html' %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                </div><!-- End .owl-carousel -->
                            </div><!-- .End .tab-pane -->
                            <div class="tab-pane p-0 fade" id="trending-phones-tab" role="tabpanel"
                                aria-labelledby="trending-phones-link">
                                <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow"
                                    data-toggle="owl" data-owl-options='{
                                        "nav": true, 
                                        "dots": false,
                                        "margin": 20,
                                        "loop": false,
                                        "rtl": true, 
                            "responsive": {
                                            "0": {
                                                "items":2
                                            },
                                            "480": {
                                                "items":2
                                            },
                                            "768": {
                                                "items":3
                                            },
                                            "992": {
                                                "items":4
                                            }
                                        }
                                    }'>
                                    {% for product in vije_products %}
                                        {% for cat in product.category.all %}
                                            {% if cat.slug == "mobile" %}
                                                {% include 'shop/singleproduct.html' %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                </div><!-- End .owl-carousel -->
                            </div><!-- .End .tab-pane -->
                            <div class="tab-pane p-0 fade" id="trending-watches-tab" role="tabpanel"
                                aria-labelledby="trending-watches-link">
                                <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow"
                                    data-toggle="owl" data-owl-options='{
                                        "nav": true, 
                                        "dots": false,
                                        "margin": 20,
                                        "loop": false,
                                        "rtl": true, 
                            "responsive": {
                                            "0": {
                                                "items":2
                                            },
                                            "480": {
                                                "items":2
                                            },
                                            "768": {
                                                "items":3
                                            },
                                            "992": {
                                                "items":4
                                            }
                                        }
                                    }'>
                                    {% for product in vije_products %}
                                        {% for cat in product.category.all %}
                                            {% if cat.slug == "watch" %}
                                                {% include 'shop/singleproduct.html' %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                </div><!-- End .owl-carousel -->
                            </div><!-- .End .tab-pane -->
                            <div class="tab-pane p-0 fade" id="trending-acc-tab" role="tabpanel"
                                aria-labelledby="trending-acc-link">
                                <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow"
                                    data-toggle="owl" data-owl-options='{
                                        "nav": true, 
                                        "dots": false,
                                        "margin": 20,
                                        "loop": false,
                                        "rtl": true, 
                            "responsive": {
                                            "0": {
                                                "items":2
                                            },
                                            "480": {
                                                "items":2
                                            },
                                            "768": {
                                                "items":3
                                            },
                                            "992": {
                                                "items":4
                                            }
                                        }
                                    }'>
                                    {% for product in vije_products %}
                                        {% for cat in product.category.all %}
                                            {% if cat.slug == "accessory" %}
                                                {% include 'shop/singleproduct.html' %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                </div><!-- End .owl-carousel -->
                            </div><!-- .End .tab-pane -->
                        </div><!-- End .tab-content -->
                    </div><!-- End .col-xl-4-5col -->
                </div><!-- End .row -->
            </div><!-- End .container -->

            <div class="container">
                <hr class="mt-5 mb-6">
            </div><!-- End .container -->

            <div class="container top">
                <div class="heading heading-flex mb-3">
                    <div class="heading-left">
                        <h2 class="title">محصولات پرفروش</h2><!-- End .title -->
                    </div><!-- End .heading-left -->

                    <div class="heading-right">
                        <ul class="nav nav-pills nav-border-anim justify-content-center" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="top-all-link" data-toggle="tab" href="#top-all-tab"
                                    role="tab" aria-controls="top-all-tab" aria-selected="true">همه</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="top-tv-link" data-toggle="tab" href="#top-tv-tab" role="tab"
                                    aria-controls="top-tv-tab" aria-selected="false">TV</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="top-computers-link" data-toggle="tab" href="#top-computers-tab"
                                    role="tab" aria-controls="top-computers-tab" aria-selected="false">کامپیوتر</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="top-phones-link" data-toggle="tab" href="#top-phones-tab"
                                    role="tab" aria-controls="top-phones-tab" aria-selected="false">موبایل و تب لت</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="top-watches-link" data-toggle="tab" href="#top-watches-tab"
                                    role="tab" aria-controls="top-watches-tab" aria-selected="false">ساعت هوشمند</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="top-acc-link" data-toggle="tab" href="#top-acc-tab" role="tab"
                                    aria-controls="top-acc-tab" aria-selected="false">لوازم جانبی</a>
                            </li>
                        </ul>
                    </div><!-- End .heading-right -->
                </div><!-- End .heading -->

                <div class="tab-content tab-content-carousel just-action-icons-sm">
                    <div class="tab-pane p-0 fade show active" id="top-all-tab" role="tabpanel"
                        aria-labelledby="top-all-link">
                        <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" data-toggle="owl"
                            data-owl-options='{
                                "nav": true, 
                                "dots": false,
                                "margin": 20,
                                "loop": false,
                                "rtl": true, 
                            "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    },
                                    "1200": {
                                        "items":5
                                    }
                                }
                            }'>
                            {% for product in poremriaz_products %}
                                {% for cat in product.category.all %}
                                    {% include 'shop/singleproduct.html' %}
                                {% endfor %}
                             {% endfor %}
                        </div><!-- End .owl-carousel -->
                    </div><!-- .End .tab-pane -->
                    <div class="tab-pane p-0 fade" id="top-tv-tab" role="tabpanel" aria-labelledby="top-tv-link">
                        <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" data-toggle="owl"
                            data-owl-options='{
                                "nav": true, 
                                "dots": false,
                                "margin": 20,
                                "loop": false,
                                "rtl": true, 
                            "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    },
                                    "1200": {
                                        "items":5
                                    }
                                }
                            }'>
                            {% for product in poremriaz_products %}
                                        {% for cat in product.category.all %}
                                            {% if cat.slug == "tv" %}
                                                {% include 'shop/singleproduct.html' %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                        </div><!-- End .owl-carousel -->
                    </div><!-- .End .tab-pane -->
                    <div class="tab-pane p-0 fade" id="top-computers-tab" role="tabpanel"
                        aria-labelledby="top-computers-link">
                        <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" data-toggle="owl"
                            data-owl-options='{
                                "nav": true, 
                                "dots": false,
                                "margin": 20,
                                "loop": false,
                                "rtl": true, 
                            "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    },
                                    "1200": {
                                        "items":5
                                    }
                                }
                            }'>
                            {% for product in poremriaz_products %}
                                        {% for cat in product.category.all %}
                                            {% if cat.slug == "computer" %}
                                                {% include 'shop/singleproduct.html' %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                        </div><!-- End .owl-carousel -->
                    </div><!-- .End .tab-pane -->
                    <div class="tab-pane p-0 fade" id="top-phones-tab" role="tabpanel"
                        aria-labelledby="top-phones-link">
                        <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" data-toggle="owl"
                            data-owl-options='{
                                "nav": true, 
                                "dots": false,
                                "margin": 20,
                                "loop": false,
                                "rtl": true, 
                            "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    },
                                    "1200": {
                                        "items":5
                                    }
                                }
                            }'>
                            {% for product in poremriaz_products %}
                                        {% for cat in product.category.all %}
                                            {% if cat.slug == "mobile" %}
                                                {% include 'shop/singleproduct.html' %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                        </div><!-- End .owl-carousel -->
                    </div><!-- .End .tab-pane -->
                    <div class="tab-pane p-0 fade" id="top-watches-tab" role="tabpanel"
                        aria-labelledby="top-watches-link">
                        <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" data-toggle="owl"
                            data-owl-options='{
                                "nav": true, 
                                "dots": false,
                                "margin": 20,
                                "loop": false,
                                "rtl": true, 
                            "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    },
                                    "1200": {
                                        "items":5
                                    }
                                }
                            }'>
                            {% for product in poremriaz_products %}
                                        {% for cat in product.category.all %}
                                            {% if cat.slug == "watch" %}
                                                {% include 'shop/singleproduct.html' %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                        </div><!-- End .owl-carousel -->
                    </div><!-- .End .tab-pane -->
                    <div class="tab-pane p-0 fade" id="top-acc-tab" role="tabpanel" aria-labelledby="top-acc-link">
                        <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" data-toggle="owl"
                            data-owl-options='{
                                "nav": true, 
                                "dots": false,
                                "margin": 20,
                                "loop": false,
                                "rtl": true, 
                            "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    },
                                    "1200": {
                                        "items":5
                                    }
                                }
                            }'>
                            {% for product in poremriaz_products %}
                                {% for cat in product.category.all %}
                                    {% if cat.slug == "accessory" %}
                                        {% include 'shop/singleproduct.html' %}
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </div><!-- End .owl-carousel -->
                    </div><!-- .End .tab-pane -->
                </div><!-- End .tab-content -->
            </div><!-- End .container -->

            <div class="container">
                <hr class="mt-5 mb-0">
            </div><!-- End .container -->

            <div class="icon-boxes-container mt-2 mb-2 bg-transparent">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <div class="icon-box icon-box-side">
                                <span class="icon-box-icon text-dark">
                                    <i class="icon-rocket"></i>
                                </span>
                                <div class="icon-box-content">
                                    <h3 class="icon-box-title">ارسال رایگان</h3><!-- End .ico' %}n-box-title -->
                                    <p>برای سفارشات بالای 50 هزار تومان</p>
                                </div><!-- End .ico' %}n-box-content -->
                            </div><!-- End .ico' %}n-box -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="icon-box icon-box-side">
                                <span class="icon-box-icon text-dark">
                                    <i class="icon-rotate-left"></i>
                                </span>

                                <div class="icon-box-content">
                                    <h3 class="icon-box-title">بازگرداندن محصول</h3><!-- End .ico' %}n-box-title -->
                                    <p>تا 30 روز بعد از خرید</p>
                                </div><!-- End .ico' %}n-box-content -->
                            </div><!-- End .ico' %}n-box -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="icon-box icon-box-side">
                                <span class="icon-box-icon text-dark">
                                    <i class="icon-info-circle"></i>
                                </span>

                                <div class="icon-box-content">
                                    <h3 class="icon-box-title">تخفیف 20 درصد</h3>
                                    <!-- End .ico' %}n-box-title -->
                                    <p>برای اولین خرید</p>
                                </div><!-- End .ico' %}n-box-content -->
                            </div><!-- End .ico' %}n-box -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="icon-box icon-box-side">
                                <span class="icon-box-icon text-dark">
                                    <i class="icon-life-ring"></i>
                                </span>

                                <div class="icon-box-content">
                                    <h3 class="icon-box-title">پشتیبانی محصولات</h3><!-- End .ico' %}n-box-title -->
                                    <p>7 روز هفته، 24 ساعته</p>
                                </div><!-- End .ico' %}n-box-content -->
                            </div><!-- End .ico' %}n-box -->
                        </div><!-- End .col-sm-6 col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .ico' %}n-boxes-container -->

            <div class="container">
                <div class="cta cta-separator cta-border-image cta-half mb-0"
             
                style="background-image: url({% static '/images/demos/demo-3/bg-2.jpg' %});">
                    <div class="cta-border-wrapper bg-white">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="cta-wrapper cta-text text-center">
                                    <h3 class="cta-title">شبکه های اجتماعی</h3><!-- End .cta-title -->
                                    <p class="cta-desc text-center">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم
                                        ایپسوم متن
                                        ساختگی با تولید سادگی نامفهوم. </p><!-- End .cta-desc -->

                                    <div class="social-icons social-icons-colored justify-content-center">
                                        <a href="#" class="social-icon social-facebook" title="فیسبوک"
                                            target="_blank"><i class="icon-facebook-f"></i></a>
                                        <a href="#" class="social-icon social-twitter" title="توییتر" target="_blank"><i
                                                class="icon-twitter"></i></a>
                                        <a href="#" class="social-icon social-instagram" title="اینستاگرام"
                                            target="_blank"><i class="icon-instagram"></i></a>
                                        <a href="#" class="social-icon social-youtube" title="یوتیوب" target="_blank"><i
                                                class="icon-youtube"></i></a>
                                        <a href="#" class="social-icon social-pinterest" title="پینترست"
                                            target="_blank"><i class="icon-pinterest"></i></a>
                                    </div><!-- End .soial-icons -->
                                </div><!-- End .cta-wrapper -->
                            </div><!-- End .col-lg-6 -->

                            <div class="col-lg-6">
                                <div class="cta-wrapper text-center">
                                    <h3 class="cta-title">اطلاع از جدیدترین تخفیف ها</h3><!-- End .cta-title -->
                                    <p class="cta-desc text-center">و <br>دریافت <span class="text-primary">کد تخفیف 20
                                            درصدی</span>
                                        برای اولین خرید</p><!-- End .cta-desc -->

                                    <form action="#">
                                        <div class="input-group">
                                            <input type="email" class="form-control"
                                                placeholder="ایمیل خود را وارد کنید" aria-label="Email Adress" required>
                                            <div class="input-group-append">
                                                <button class="btn btn-primary btn-rounded" type="submit"><i
                                                        class="icon-long-arrow-left"></i></button>
                                            </div><!-- .End .input-group-append -->
                                        </div><!-- .End .input-group -->
                                    </form>
                                </div><!-- End .cta-wrapper -->
                            </div><!-- End .col-lg-6 -->
                        </div><!-- End .row -->
                    </div><!-- End .bg-white -->
                </div><!-- End .cta -->
            </div><!-- End .container -->
        </main><!-- End .main -->

{% endblock %}
