{% extends 'base_page.html' %}
{% load static %}
{% block content %}
        <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <div class="container-fluid d-flex align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index-1.html">خانه</a></li>
                        <li class="breadcrumb-item"><a href="#">حالت تمام صفحه</a></li>
                        <li class="breadcrumb-item active" aria-current="page">با سایدبار</li>
                    </ol>

                    <nav class="product-pager mr-auto" aria-label="Product">
                        <a class="product-pager-link product-pager-prev" href="#" aria-label="Previous" tabindex="-1">
                            <i class="icon-angle-right"></i>
                            <span>قبلی</span>
                        </a>

                        <a class="product-pager-link product-pager-next" href="#" aria-label="Next" tabindex="-1">
                            <span>بعدی</span>
                            <i class="icon-angle-left"></i>
                        </a>
                    </nav><!-- End .pager-nav -->
                </div><!-- End .container-fluid -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-10">
                            <div class="product-details-top">
                                <div class="row">
                                    <div class="col-md-6 col-lg-7">
                                        <div class="product-gallery">
                                            <figure class="product-main-image">
                                                <span class="product-label label-sale">فروش ویژه</span>
                                                <img id="product-zoom"
                                                    src="{{ object.cover.url }}"
                                                    data-zoom-image="{{ object.cover.url }}"
                                                    alt="تصویر محصول">

                                                <a href="#" id="btn-product-gallery" class="btn-product-gallery">
                                                    <i class="icon-arrows"></i>
                                                </a>
                                            </figure><!-- End .product-main-image -->

                                            <div id="product-zoom-gallery" class="product-image-gallery max-col-6">
                                                <a class="product-gallery-item" href="#"
                                                    data-image="{% static 'images/products/single/fullwidth/1.jpg' %}"
                                                    data-zoom-image="{% static 'images/products/single/fullwidth/1-big.jpg' %}">
                                                    <img src="{{ object.pic1.url }}"
                                                        alt="توضیحات تصویر">
                                                </a>

                                                <a class="product-gallery-item" href="#"
                                                    data-image="{% static 'images/products/single/fullwidth/2.jpg' %}"
                                                    data-zoom-image="{% static 'images/products/single/fullwidth/2-big.jpg' %}">
                                                    <img src="{{ object.pic2.url }}"
                                                        alt="توضیحات تصویر">
                                                </a>

                                                <a class="product-gallery-item active" href="#"
                                                    data-image="{% static 'images/products/single/fullwidth/3.jpg' %}"
                                                    data-zoom-image="{% static 'images/products/single/fullwidth/3-big.jpg' %}">
                                                    <img src="{{ object.pic3.url }}"
                                                        alt="توضیحات تصویر">
                                                </a>

                                                <a class="product-gallery-item" href="#"
                                                    data-image="{% static 'images/products/single/fullwidth/4.jpg' %}"
                                                    data-zoom-image="{% static 'images/products/single/fullwidth/4-big.jpg' %}">
                                                    <img src="{{ object.pic4.url }}"
                                                        alt="توضیحات تصویر">
                                                </a>

                                            </div><!-- End .product-image-gallery -->
                                        </div><!-- End .product-gallery -->
                                    </div><!-- End .col-lg-7 -->

                                    <div class="col-md-6 col-lg-5">
                                        <div class="product-details">
                                            <h1 class="product-title">{{ object.name }}</h1>
                                            <!-- End .product-title -->

                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-val" style="width: 80%;"></div>
                                                    <!-- End .ratings-val -->
                                                </div><!-- End .ratings -->
                                                <a class="ratings-text" href="#product-accordion" id="review-link">( 2
                                                    دیدگاه )</a>
                                            </div><!-- End .rating-container -->

                                            <div class="product-price">
                                                <span class="new-price">{{ object.price }} تومان</span>
                                                <span class="old-price">110,000 تومان</span>
                                            </div><!-- End .product-price -->

                                            <div class="product-content">
                                                <p>{{ object.mini_desc }}</p>                                            
                                            </div><!-- End .product-content -->

                                            <div class="details-filter-row details-row-size">
                                                <label>رنگ : </label>

                                                <div class="product-nav product-nav-thumbs">
                                                    
                                                    <a href="#" class="active">
                                                        
                                                        <div style="background-color: {{ object.color }} ;width: 20px; height: 20px; "></div>                                                        
                                                    </a>
                                                    
                                                </div><!-- End .product-nav -->
                                            </div><!-- End .details-filter-row -->

                                            

                                            

                                            <div class="product-details-action">
                                                <a href="#" class="btn-product btn-cart"><span>افزودن به سبد
                                                        خرید</span></a>

                                                <div class="details-action-wrapper">
                                                    <a href="#" class="btn-product btn-wishlist"
                                                        title="لیست علاقه مندی"><span>افزودن به علاقه
                                                            مندی</span></a>
                                                    <a href="#" class="btn-product btn-compare"
                                                        title="مقایسه"><span>افزودن
                                                            به لیست مقایسه</span></a>
                                                </div><!-- End .details-action-wrapper -->
                                            </div><!-- End .product-details-action -->

                                            <div class="product-details-footer">
                                                <div class="product-cat">
                                                    <span>دسته ها : </span>
                                                    {% for cat in object.category.all %}
                                                        <a href="/"> {{ cat.name }} </a>
                                                    {% endfor %}
                                                </div><!-- End .product-cat -->

                                                <div class="social-icons social-icons-sm">
                                                    <span class="social-label">اشتراک گذاری در : </span>
                                                    <a href="#" class="social-icon" title="فیسبوک" target="_blank"><i
                                                            class="icon-facebook-f"></i></a>
                                                    <a href="#" class="social-icon" title="توییتر" target="_blank"><i
                                                            class="icon-twitter"></i></a>
                                                    <a href="#" class="social-icon" title="اینستاگرام"
                                                        target="_blank"><i class="icon-instagram"></i></a>
                                                    <a href="#" class="social-icon" title="پینترست" target="_blank"><i
                                                            class="icon-pinterest"></i></a>
                                                </div>
                                            </div><!-- End .product-details-footer -->

                                            <div class="accordion accordion-plus product-details-accordion"
                                                id="product-accordion">
                                                <div class="card card-box card-sm">
                                                    <div class="card-header" id="product-desc-heading">
                                                        <h2 class="card-title">
                                                            <a class="collapsed" role="button" data-toggle="collapse"
                                                                href="#product-accordion-desc" aria-expanded="false"
                                                                aria-controls="product-accordion-desc">
                                                                توضیحات
                                                            </a>
                                                        </h2>
                                                    </div><!-- End .card-header -->
                                                    <div id="product-accordion-desc" class="collapse"
                                                        aria-labelledby="product-desc-heading"
                                                        data-parent="#product-accordion">
                                                        <div class="card-body">
                                                            <div class="product-desc-content">
                                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم
                                                                    ایپسوم متن ساختگی با
                                                                    تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید
                                                                    سادگی نامفهوم لورم
                                                                    ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم
                                                                    ایپسوم متن ساختگی با
                                                                    تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید
                                                                    سادگی نامفهوم لورم
                                                                    ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم
                                                                    متن ساختگی با تولید
                                                                    سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی
                                                                    نامفهوم لورم ایپسوم
                                                                    نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی
                                                                    نامفهوم . </p>
                                                                <ul>
                                                                    <li>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                                                                    </li>
                                                                    <li>لورم ایپسوم متن ساختگی با تولید سادگی</li>
                                                                    <li>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                                                                    </li>
                                                                </ul>

                                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم
                                                                    ایپسوم متن ساختگی با
                                                                    تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید
                                                                    سادگی نامفهوم لورم
                                                                    ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم
                                                                    متن ساختگی با تولید
                                                                    سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی
                                                                    نامفهوم لورم ایپسوم
                                                                    متن ساختگی با تولید سادگی نامفهوم </p>
                                                            </div><!-- End .product-desc-content -->
                                                        </div><!-- End .card-body -->
                                                    </div><!-- End .collapse -->
                                                </div><!-- End .card -->

                                                <div class="card card-box card-sm">
                                                    <div class="card-header" id="product-info-heading">
                                                        <h2 class="card-title">
                                                            <a class="collapsed" role="button" data-toggle="collapse"
                                                                href="#product-accordion-info" aria-expanded="false"
                                                                aria-controls="product-accordion-info">
                                                                اطلاعات اضافی
                                                            </a>
                                                        </h2>
                                                    </div><!-- End .card-header -->
                                                    <div id="product-accordion-info" class="collapse"
                                                        aria-labelledby="product-info-heading"
                                                        data-parent="#product-accordion">
                                                        <div class="card-body">
                                                            <div class="product-desc-content">
                                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم
                                                                    ایپسوم متن ساختگی با
                                                                    تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید
                                                                    سادگی نامفهوم لورم
                                                                    ایپسوم متن ساختگی با تولید سادگی نامفهوملورم ایپسوم
                                                                    متن ساختگی با تولید
                                                                    سادگی نامفهوم </p>

                                                                <h3>کیفیت و مراقبت</h3>
                                                                <ul>
                                                                    <li>کیفیت عالی</li>
                                                                    <li>ساخت دست</li>
                                                                    <li>برند RI</li>
                                                                    <li>چاپ تمیز داخلی </li>
                                                                    <li>قابل تنظیم</li>
                                                                    <li> ارتفاع:31 سانتی متر، عرض:32 سانتی متر</li>
                                                                </ul>

                                                                <h3>سایز</h3>
                                                                <p>S, M, L, XL</p>
                                                            </div><!-- End .product-desc-content -->
                                                        </div><!-- End .card-body -->
                                                    </div><!-- End .collapse -->
                                                </div><!-- End .card -->

                                                <div class="card card-box card-sm">
                                                    <div class="card-header" id="product-shipping-heading">
                                                        <h2 class="card-title">
                                                            <a class="collapsed" role="button" data-toggle="collapse"
                                                                href="#product-accordion-shipping" aria-expanded="false"
                                                                aria-controls="product-accordion-shipping">
                                                                ارسال و بازگشت
                                                            </a>
                                                        </h2>
                                                    </div><!-- End .card-header -->
                                                    <div id="product-accordion-shipping" class="collapse"
                                                        aria-labelledby="product-shipping-heading"
                                                        data-parent="#product-accordion">
                                                        <div class="card-body">
                                                            <div class="product-desc-content">
                                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم
                                                                    ایپسوم متن ساختگی با
                                                                    تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید
                                                                    سادگی نامفهوم لورم
                                                                    ایپسوم متن ساختگی با تولید سادگی نامفهوم <a
                                                                        href="#">اطلاعات
                                                                        ارسال</a><br>
                                                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم
                                                                    ایپسوم متن ساختگی با
                                                                    تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید
                                                                    سادگی نامفهوم لورم
                                                                    ایپسوم متن ساختگی با تولید سادگی نامفهوم <a
                                                                        href="#">اطلاعات بازگشت</a>
                                                                </p>
                                                            </div><!-- End .product-desc-content -->
                                                        </div><!-- End .card-body -->
                                                    </div><!-- End .collapse -->
                                                </div><!-- End .card -->

                                                <div class="card card-box card-sm">
                                                    <div class="card-header" id="product-review-heading">
                                                        <h2 class="card-title">
                                                            <a role="button" data-toggle="collapse"
                                                                href="#product-accordion-review" aria-expanded="true"
                                                                aria-controls="product-accordion-review">
                                                                دیدگاه (2)
                                                            </a>
                                                        </h2>
                                                    </div><!-- End .card-header -->
                                                    <div id="product-accordion-review" class="collapse show"
                                                        aria-labelledby="product-review-heading"
                                                        data-parent="#product-accordion">
                                                        <div class="card-body">
                                                            <div class="دیدگاه">
                                                                <div class="review">
                                                                    <div class="row no-gutters">
                                                                        <div class="col-auto">
                                                                            <h4><a href="#">مریم رسولی</a></h4>
                                                                            <div class="ratings-container">
                                                                                <div class="ratings">
                                                                                    <div class="ratings-val"
                                                                                        style="width: 80%;"></div>
                                                                                    <!-- End .ratings-val -->
                                                                                </div><!-- End .ratings -->
                                                                            </div><!-- End .rating-container -->
                                                                            <span class="review-date">6 رو پیش</span>
                                                                        </div><!-- End .col -->
                                                                        <div class="col-12">
                                                                            <h4>عالی، سایزش خوب بود</h4>

                                                                            <div class="review-content">
                                                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی
                                                                                    نامفهوم، لورم
                                                                                    ایپسوم متن ساختگی با تولید سادگی
                                                                                    نامفهوم لورم ایپسوم متن
                                                                                    ساختگی با تولید سادگی نامفهوم لورم
                                                                                    ایپسوم متن ساختگی با
                                                                                    تولید سادگی نامفهوم </p>
                                                                            </div><!-- End .review-content -->

                                                                            <div class="review-action">
                                                                                <a href="#"><i
                                                                                        class="icon-thumbs-up"></i>مفید
                                                                                    (2)</a>
                                                                                <a href="#"><i
                                                                                        class="icon-thumbs-down"></i>غیرمفید
                                                                                    (0)
                                                                                </a>
                                                                            </div><!-- End .review-action -->
                                                                        </div><!-- End .col-auto -->
                                                                    </div><!-- End .row -->
                                                                </div><!-- End .review -->

                                                                <div class="review">
                                                                    <div class="row no-gutters">
                                                                        <div class="col-auto">
                                                                            <h4><a href="#">مدیر سایت</a></h4>
                                                                            <div class="ratings-container">
                                                                                <div class="ratings">
                                                                                    <div class="ratings-val"
                                                                                        style="width: 100%;"></div>
                                                                                    <!-- End .ratings-val -->
                                                                                </div><!-- End .ratings -->
                                                                            </div><!-- End .rating-container -->
                                                                            <span class="review-date">5 روز پیش</span>
                                                                        </div><!-- End .col -->
                                                                        <div class="col-12">
                                                                            <h4>خیلی عالی</h4>

                                                                            <div class="review-content">
                                                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی
                                                                                    نامفهوم؟ لورم
                                                                                    ایپسوم متن ساختگی با تولید سادگی
                                                                                    نامفهوم لورم ایپسوم متن
                                                                                    ساختگی با تولید سادگی نامفهوم لورم
                                                                                    ایپسوم متن ساختگی با
                                                                                    تولید سادگی نامفهوم </p>
                                                                            </div><!-- End .review-content -->

                                                                            <div class="review-action">
                                                                                <a href="#"><i
                                                                                        class="icon-thumbs-up"></i>مفید
                                                                                    (0)</a>
                                                                                <a href="#"><i
                                                                                        class="icon-thumbs-down"></i>غیرمفید
                                                                                    (0)</a>
                                                                            </div><!-- End .review-action -->
                                                                        </div><!-- End .col-auto -->
                                                                    </div><!-- End .row -->
                                                                </div><!-- End .review -->
                                                            </div><!-- End .دیدگاه -->
                                                        </div><!-- End .card-body -->
                                                    </div><!-- End .collapse -->
                                                </div><!-- End .card -->
                                            </div><!-- End .accordion -->
                                        </div><!-- End .product-details -->
                                    </div><!-- End .col-lg-5 -->
                                </div><!-- End .row -->
                            </div><!-- End .product-details-top -->
                        </div><!-- End .col-xl-10 -->

                        <aside class="col-xl-2 d-md-none d-xl-block">
                            <div class="sidebar sidebar-product">
                                <div class="widget widget-products">
                                    <h4 class="widget-title">محصولات مرتبط</h4><!-- End .widget-title -->

                                    <div class="products">
                                        <div class="product product-sm">
                                            <figure class="product-media">
                                                <a href="product.html">
                                                    <img src="{% static 'images/products/single/sidebar/1.jpg' %}"
                                                        alt="تصویر محصول" class="product-image">
                                                </a>
                                            </figure>

                                            <div class="product-body">
                                                <h5 class="product-title"><a href="product.html">کفش زنانه قهوه ای پاشنه
                                                        دار</a></h5><!-- End .product-title -->
                                                <div class="product-price">
                                                    <span class="new-price ml-0">50,000 تومان</span>
                                                    <span class="old-price">110,000 تومان</span>
                                                </div><!-- End .product-price -->
                                            </div><!-- End .product-body -->
                                        </div><!-- End .product product-sm -->

                                        <div class="product product-sm">
                                            <figure class="product-media">
                                                <a href="product.html">
                                                    <img src="{% static 'images/products/single/sidebar/2.jpg' %}"
                                                        alt="تصویر محصول" class="product-image">
                                                </a>
                                            </figure>

                                            <div class="product-body">
                                                <h5 class="product-title"><a href="product.html">لباس زنانه زرد دکمه
                                                        ای</a></h5><!-- End .product-title -->
                                                <div class="product-price">
                                                    56,000 تومان
                                                </div><!-- End .product-price -->
                                            </div><!-- End .product-body -->
                                        </div><!-- End .product product-sm -->

                                        <div class="product product-sm">
                                            <figure class="product-media">
                                                <a href="product.html">
                                                    <img src="{% static 'images/products/single/sidebar/3.jpg' %}"
                                                        alt="تصویر محصول" class="product-image">
                                                </a>
                                            </figure>

                                            <div class="product-body">
                                                <h5 class="product-title"><a href="product.html">کیف زنانه با بند
                                                        زنجیری</a></h5><!-- End .product-title -->
                                                <div class="product-price">
                                                    50,000 تومان
                                                </div><!-- End .product-price -->
                                            </div><!-- End .product-body -->
                                        </div><!-- End .product product-sm -->

                                        <div class="product product-sm">
                                            <figure class="product-media">
                                                <a href="product.html">
                                                    <img src="{% static 'images/products/single/sidebar/4.jpg' %}"
                                                        alt="تصویر محصول" class="product-image">
                                                </a>
                                            </figure>

                                            <div class="product-body">
                                                <h5 class="product-title"><a href="product.html">کیف مسافرتی مشکی</a>
                                                </h5><!-- End .product-title -->
                                                <div class="product-price">
                                                    65,000 تومان
                                                </div><!-- End .product-price -->
                                            </div><!-- End .product-body -->
                                        </div><!-- End .product product-sm -->
                                    </div><!-- End .products -->

                                    <a href="category.html" class="btn btn-outline-dark-3"><span>مشاهده محصولات
                                            بیشتر</span><i class="icon-long-arrow-left"></i></a>
                                </div><!-- End .widget widget-products -->

                                <div class="widget widget-banner-sidebar">
                                    <div class="banner-sidebar-title">باکس تبلیغ 280 در 280</div><!-- End .ad-title -->

                                    <div class="banner-sidebar banner-overlay">
                                        <a href="#">
                                            <img src="{% static 'images/blog/sidebar/banner.jpg' %}" alt="بنر">
                                        </a>
                                    </div><!-- End .banner-ad -->
                                </div><!-- End .widget -->
                            </div><!-- End .sidebar sidebar-product -->
                        </aside><!-- End .col-xl-2 -->
                    </div><!-- End .row -->

                </div><!-- End .container-fluid -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->
{% endblock %}